extends layout.pug
block scripts
	script(src="static/js/deleteItem.js")

block body
	h1 Welcome to Express.js + Pug

	table.table-dark.table-bordered.mx-auto
		tr
				td Id
				td Name
				//- td Date Added
				td Price
				td Quantity
				td Category
				td
		if items.error
			p.alert.alert-danger #{items.error}
		else
			each item in items
				tr
					td #{item.id}
					td #{item.name}
					//- td #{item.date_added}
					td #{item.price}
					td #{item.quantity}
					td #{item.categoryname}
					td
						if item.for_sale
							button(type="button", class="btn btn-success m-2") Add to cart
						a(type="button", class="btn btn-danger m-2", onclick=`deleteItem(${item.id})`) Delete
						a(href=`/item/edit/${item.id}`, type="button", class="btn btn-info m-2") Edit